header.title-bar.flex.flex-row.flex-start
  .title-wrapper.block
    a(href="/")
      img.logo(src='/codaisseur-logo-color-black.png', alt='Codaisseur Logo')
    span.title
      i.fa.fa-lock(aria-hidden="true")
      |  OAuth2 Account
