meta(http-equiv='content-type', content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
title
  block page_title
    | Welcome
  |  - Codaisseur Account
link(rel='shortcut icon', href='favicon.ico')
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
link(rel='stylesheet', href='/css/base.css')
link(rel='stylesheet', href='/css/auth.css')
