extends _layout

block page_title
  | Auth Server

block title
  h3 Auth Server

block content
  p Hi there!
  p
    | Please make sure to
    a(href="/sign-in")  sign in
    |  or
    a(href="/sign-up")  sign up
